/* ========================
Main Styles 
=========================== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #3a3a3a;
  font-size: 16px;
  line-height: 1.5;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 90%;
  margin: auto;
}

.main-header,
.nav {
  display: flex;
  flex-direction: column;
}

.main-header {
  padding-top: 2em;
}

.logo {
  align-self: center;
  color: #52bab3;
  font-size: 1.5em;
}

.nav {
  margin-top: 1.5em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: #797e83;
  display: block;
  font-size: 1.1em;
  font-weight: 300;
  text-align: center;
  padding: .4em;
  border-bottom: 1px solid #ebecec;
}

.nav a:hover {
  color: #0b0b0b;
  border-bottom-color: #52bab3;
}

p {
  font-size: .95em;
  margin-bottom: 1.8em;
}

h2,
h3 {
  margin-top: 0;
}

#showcase {
  margin-top: 3em;
  text-align: center;
}

#showcase h1 {
  font-size: 3em;
}

/* ========================
Media Queries 
=========================== */

/* @media (min-width: 769px) {
  .main-header {
    height: 200px;
    justify-content: flex-end;
  }
  .nav {
    margin-top: 3em;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav a {
    border-bottom: transparent;
  }
} */

@media (min-width: 769px) {
  .main-header {
    flex-direction: row;
  }
  .logo {
    margin-right: auto;
  }
  .nav {
    margin-top: 0;
    flex-direction: row;
  }
  .nav a {
    margin-right: 2em;
  }
}