/* ========================
Main Styles 
=========================== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #3a3a3a;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ========================
Layout Styles 
=========================== */

/* Header */

#header,
nav ul {
  display: flex;
  flex-direction: column;
}

#header {
  margin: 2em auto;
  border: 1px solid red;
}

#header-img {
  align-self: center;
  color: #52bab3;
  font-size: 1.5em;
  padding-top: 1em;
}

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width:100%;
  z-index: 9999;
  background-color: #fff;
}

#nav-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav-bar a {
  text-decoration: none;
  color: #797e83;
  display: block;
  font-size: 1.1em;
  font-weight: 300;
  text-align: center;
  padding: .4em;
  border-bottom: 1px solid #ebecec;
  border-bottom-width: 80%;
}

#nav-bar a:hover {
  color: #0b0b0b;
  border-bottom-color: #52bab3;
}

/* Showcase */

#showcase {
  margin-top: 20px;
  min-height: 450px;
  text-align: center;
  color: #fff;
}

#showcase .bg-img {
  position: absolute;
  background-color: #52bab3;
  background: url('../img/dogs.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.8;
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
  font-size: 3em;
}

.content-wrap {
  padding: 2em 1.5em;
}

.btn {
  display: inline-block;
  background: #52bab3;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
}

.btn:hover {
  background: #155752;
}

/* About */

#about {
  padding-bottom: 2em;
}

#video {
  width: 100%;
  display: block;
}

/* Services */

#services {
  background-color: #52bab3;
  color: #fff;
}

#services .card {
  border: 1px solid white;
  padding: 1em 0.5em;
  margin: 1em 0;
}

/* Contact */

#email{
  padding: .5em 1em;
  margin: 0 1em;
}

/* Footer */

#footer {
  background-color: #3a3a3a;
  color: #fff;
}

#footer a {
  color: #fff;
}

/* ========================
Media Queries 
=========================== */

@media (min-width: 769px) {
  #header {
    flex-direction: row;
  }
  .logo {
    margin-right: auto;
  }
  #nav-bar ul {
    margin-top: 0;
    flex-direction: row;
  }
  #nav-bar ul a {
    margin-right: 2em;
  }
}
