/* Base Element Styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fff;
  font-family: sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 4em;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}



/* Base layout Styles */

/* Layout Containers */

/* Page Elements */

/* Media Queries */
